/* Take default margin away body */
body {
  margin: 0;
}

/*  Navigation bar background color */
.topnav {
  background-color: #f782a3;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

/* Resize and place logo */
.toplogo {
  margin-top: 5px;
  margin-left: 5px;
}

.toplogo img {
  height: 3%;
  width: 3%;
}
/*  Styling links inside of navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*  Change color on link on hover */
.topnav a:hover {
  background-color: #fff4f3;
  color: navy;
}

/*  Add color to active link */
.topnav a.active {
  background-color: ffa7a6;
}

/* Welcome section  */
#welcome-section {
  margin-top: 3.15%;
  position: relative;
  text-align: center;
  color: navy;
  height: 50vh;
  width: 100vw;
  background-color: #f7c4d27a;
}
.welcome-background {
  margin: auto;
  width: fit-content;
  right: 50%;
  opacity: 0.3;
  z-index: -1;
}
.text {
  position: absolute;
  font-size: larger;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 2px 5px rgb(83, 113, 116);
}

/* project section */
#projects {
  z-index: 1;
}
.projects-title {
  text-align: center;
  font-size: 4vh;
  color: navy;
  text-shadow: 1px 1px 3px grey;
}

.row {
  padding: 0 15px;
}
.project-tile {
  background-color: #f0abbfaf;
  border-radius: 5%;
}
.project-tile a {
  text-decoration: none;
}
.project-tile img {
  width: 100%;
  margin: auto;
}
.project-tile h2,
p {
  text-align: center;
  color: navy;
}

/*  Footer Menu */
#footer {
  background-color: #f782a3;
  width: 100%;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

#footer .menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#footer .menu a:hover {
  background-color: #fff4f3;
  color: navy;
}

/* footer contact tag */
.tagline {
  float: right;
  padding: 2%;
  color: navy;
}

/* Setting grid view of projects with media queary */
@media (min-width: 500px) {
  .project-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #welcome-section img {
    display: none;
  }
}
